<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans.xsd">  
      
    <bean id="userDao" class="com.yyc.dao.impl.UserDaoImpl">  
        <property name="sessionFactory" ref="sessionFactory"></property>  
    </bean>  
  
    <bean id="userBo" class="com.yyc.bo.impl.UserBoImpl">  
        <property name="userDao" ref="userDao"></property>  
    </bean>  
    
    <bean id="courseDao" class="com.yyc.dao.impl.CourseDaoImpl">  
        <property name="sessionFactory" ref="sessionFactory"></property>  
    </bean>  
  
    <bean id="courseBo" class="com.yyc.bo.impl.CourseBoImpl">  
        <property name="courseDao" ref="courseDao"></property>  
    </bean>  
    
    <bean id="chooseDao" class="com.yyc.dao.impl.ChooseDaoImpl">  
        <property name="sessionFactory" ref="sessionFactory"></property>  
    </bean>  
  
    <bean id="chooseBo" class="com.yyc.bo.impl.ChooseBoImpl">  
        <property name="chooseDao" ref="chooseDao"></property>  
    </bean>  
    
    <bean id="courseInfoDao" class="com.yyc.dao.impl.CourseInfoDaoImpl">  
        <property name="sessionFactory" ref="sessionFactory"></property>  
    </bean>  
  
    <bean id="courseInfoBo" class="com.yyc.bo.impl.CourseInfoBoImpl">  
        <property name="courseInfoDao" ref="courseInfoDao"></property>  
    </bean>  
      
    <!-- 此处为代理 -->  
    <bean name="userBoManager" parent="transactionProxy">  
        <property name="target" ref="userBo"></property>  
    </bean>    
    
    <bean name="courseBoManager" parent="transactionProxy">  
        <property name="target" ref="courseBo"></property>  
    </bean>    
    
    <bean name="chooseBoManager" parent="transactionProxy">  
        <property name="target" ref="chooseBo"></property>  
    </bean>  
    
    <bean name="courseInfoBoManager" parent="transactionProxy">  
        <property name="target" ref="courseInfoBo"></property>  
    </bean>  
</beans>  
